*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Color variable
$header-background :#ff0000;
$paragraph-background:#0000ff;

//Font size variable
$header-font-size:18px;
$paragraph-font-size:14px;

h1{
    background-color: $header-background;
    font-size: $header-font-size;
}

p{
    background-color: $paragraph-background;
    font-size: $paragraph-font-size;
}

//Nesting Css 
nav{
    ul{
        li{
            list-style: none;
            display: inline-block;
            a{
                text-decoration: none;
                color:black;
                margin: 0 15px;
                transition: all 0.4s ease;
            }
            a:hover{
                background-color: black;
                color: #fff;
                padding: 4px 6px;
                border-radius: 2px;
            }
        }
    }
}